@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$fontfamily: 'Poppins', sans-serif;
$fontbold: 700;
$fontsemibold: 600;
$fontmedium: 500;
$fontregular: 400;

html {
	scroll-behavior: smooth;
}

body {
	font-family: $fontfamily;
}

a {
	text-decoration: none;
	display: inline-block;
}

li {
	list-style: none;
}

.header {
	position: relative;
	z-index: 2;
	background: #fff;
	width: 100%;
	height: 15vh;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		height: 100%;
		margin: 0 auto;

		.brand {
			a {
				img {
					width: 80px;
				}
			}
		}

		.navigation {
			position: absolute;
			top: 100%;
			z-index: 10;
			width: 60%;
			background: #2c6b3f;
			right: 5%;
			height: 60vh;
			display: none;
			align-items: center;
			justify-content: center;
			border-radius: 30px;

			.nav-links {
				display: grid;
				gap: 3em;

				li {
					text-align: center;
					.link {
						color: #fff;
					}
				}
			}
		}

		.hamburger {
			cursor: pointer;

			i {
				font-size: 1.5rem;
			}
		}

		@media screen and (min-width: 43em) {
			.navigation {
				width: 40%;
			}
		}

		@media screen and (min-width: 62em) {
			.navigation {
				all: unset;
				display: flex;

				.nav-links {
					display: flex;
					li {
						.link {
							color: #000;
						}
					}
				}
			}

			.hamburger {
				display: none;
			}
		}
	}
}

.hero-section {
	background: url('/assets/hero.jpeg') center/cover, no-repeat;
	height: 90vh;
	width: 100%;
	margin-bottom: 5em;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.61);
	}

	.container {
		width: 90%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		height: 100%;
		position: relative;
		z-index: 1;

		.heading {
			max-width: 550px;
			font-size: 3rem;
			color: #fff;
			line-height: 1.3;
		}
	}
}

// about us styles
.about-section {
	margin-bottom: 5em;
	.container {
		width: 90%;
		margin: 0 auto;
		display: grid;
		gap: 3em;

		.text-wrap {
			.about-text {
				font-size: 3rem;
				margin-bottom: 0.3em;
			}

			.text {
				line-height: 1.7;
				font-family: $fontfamily;
				font-weight: $fontregular;
				margin-bottom: 1em;
			}

			.btn {
				background: #003c04;
				padding: 1em 2em;
				color: #fff;
				border-radius: 20px;
			}
		}

		.img-wrap {
			background: url('/assets/about-img.jpeg') center/cover, no-repeat;
			height: 400px;
			width: 100%;
			border-radius: 3em;
		}

		@media screen and (min-width: 43em) {
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
		}
	}
}

.volunteer-section {
	padding-top: 6em;

	.container {
		background-image: url('/assets/volunteer.jpeg');
		background-position: top;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		min-height: 120vh;
		width: 100%;
		margin-bottom: 6em;
		padding: 5em 0;
		position: relative;

		.form-container {
			background: #fff;
			width: 90%;
			margin: 0 auto;
			padding: 2em 0;
			border-radius: 30px;

			.heading,
			.text {
				width: 90%;
				margin: 0 auto;
			}

			.heading {
				color: #f1ba0c;
				margin-bottom: 0.5em;
				font-size: 30px;
			}

			.text {
				margin-bottom: 2em;
			}

			.form {
				display: grid;
				gap: 1em;
				width: 90%;
				margin: 0 auto;
				padding-bottom: 2em;

				.input-wrap {
					input,
					textarea {
						border: 1px solid #003c04;
						padding: 0.5em 0.4em;
						color: #1b1b1b;
						border-radius: 5px;
						outline: none;
						width: 100%;
					}

					textarea {
						height: 190px;
					}
				}

				button {
					background: #003c04;
					display: inline-block !important;
					width: 150px;
					padding: 1em 2em;
					color: #fff;
					border-radius: 20px;
					font-size: 1rem;
					border: none;

					text-transform: capitalize;
				}
			}

			@media screen and (min-width: 43em) {
				width: 60%;
			}

			@media screen and (min-width: 62em) {
				position: absolute;
				right: 10%;
				width: 40%;
				display: flex;
				justify-self: flex-end;
				margin: unset;
			}
		}
	}
}

.contact-section {
	margin-bottom: 8em;
	.container {
		width: 90%;
		margin: 0 auto;
		display: grid;
		gap: 3em;

		.map-wrap {
			iframe {
				width: 100%;
				border-radius: 30px;
			}
		}

		.contact-deets {
			display: grid;
			gap: 2em;

			.wrap {
				display: flex;
				align-items: flex-start;
				gap: 1em;

				.icon-wrap {
					display: flex;
					align-items: center;
					justify-content: center;
					background: #f1ba0c;
					height: 40px;
					width: 40px;
					border-radius: 100%;

					i {
						color: #fff;
					}
				}

				.text {
					display: grid;

					.title {
						font-weight: $fontsemibold;
						margin-bottom: 0.5em;
					}
				}
			}
		}

		@media screen and (min-width: 62em) {
			display: grid;
			grid-template-columns: 2fr 1fr;

			.contact-deets {
				display: unset;
				padding-top: 3em;

				.wrap {
					margin-bottom: 3em;
				}
			}
		}
	}
}

.footer {
	background: #1b1b1b;

	.container {
		width: 90%;
		margin: 0 auto;
		display: grid;
		gap: 3em;
		position: relative;
		padding: 5em 0 4em 0;

		.footer-about {
			.brand {
				img {
					width: 80px;
				}
			}
		}

		.footer-links {
			.nav-links {
				display: grid;
				gap: 1em;

				li {
					.link {
						color: #fff;
					}
				}
			}
		}

		.copyright {
			position: absolute;
			top: 100%;

			width: 100%;
			left: 0;
			text-align: center;
			padding: 0.5em 0;
		}

		@media screen and (min-width: 62em) {
			padding: 4em 3em;
			display: flex;
			justify-content: space-between;
		}
	}
}
